/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/06/2019, 15:06:21
    Author     : Dev
*/

/* CSS reset */

.relative{
	position:relative;
}
.absolute-text{
	position:absolute; bottom:0; font-size:15px; font-family:"vedana";
	width:100%; text-align:center;
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFF;
    color: black;
}
#panelInput{
    max-width: 500px;
    margin: 20px auto 0;
    padding: 10px 20px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00FF7F;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.button{
  background-color: #4CAF50;/* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #f44336;} /* Red */ 
.button3 {background-color: #008CBA;}

#main-header {
    width: 100%;
    height: 60px;
    background: #00FF7F;
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul {
    padding:0px;
    margin:10px;
    list-style:none;
    
}

#menu ul li { 
    display: inline;   
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#483D8B;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}